{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
	{% block title %} Post Here {% endblock title%}
</head>
<body>
	{% block content %}

	{% include 'nav_bar.html' %}
	<h1>Recent Post</h1>
	{% for post in post %}
	<div style="border: 1px solid red ">
		<h3>{{ post.post_title }}</h3>
		<p>{{ post.Post_pub }}</p>
		<p style="border:1px solid black; margin:20px 30px; background-color:lightblue; ">{{ post.post_content }}</p>
		<p>Posted by {{ post.user_name }}</p>
		<p>Visited profile <a href="#">{{ post.user_profile_link }}</a></p>
		
	</div>

	{% endfor %}

	{% endblock %}

</body>
</html>
